---
layout: null
exclude_in_search: true
---

.carousel {
  max-width: 100% !important;
}

.cyberteam-sidebar {
  background-image: url({{ site.baseurl }}/assets/img/background.jpg) !important;
  color: black;
}

.cyberteam-logo {
  margin-top:20px;
  max-width:100%;
}

pre {
  border: 1px solid rgba(204, 204, 204, 0.3215686274509804) !important;
  border-radius: 10px !important;
  padding: 20px !important;
}

.sidebar-brand, a {
  color: #007baf !important;
}

.sidebar .nav-link, .sidebar-heading, .sidebar .fas {
  color: #007baf !important;
}

.sidebar-divider {
  border: 1px solid rgba(78, 145, 193, 0.18) !important;
}

.btn-primary, .badge-primary {
  background-color: #8e85d1 !important;
  border: none !important;
  color: white !important;
}

.btn {
  color: white !important;
}

.text-primary {
  color: #8e85d1 !important;
}

.sidebar-dark .nav-item .nav-link[data-toggle=collapse]::after {
    color: rgb(142, 133, 209) !important;
}

#sidebarToggle {
  background-color: #79b7d2 !important;
}

.scroll-to-top {
   color: white !important;
}
